<div style="color:white">
    <h1  style="color:red">About Soil</h1>
    <div>
        <p>
            What is Soil.com?

            Soil.com is an online marketing platform that bridges the gap between farmers and consumers. The best deals are given to farmers and consumers in buying and selling their agricultural produce and inputs on Soil.com locally and globally. All you have to do is sign up  and experience the uniqueness in agri-business.

            It provides farmers the platform to address most of their farm business challenges. Also, household consumers are able to shop real time and get their orders delivered to them at the comfort of their homes.

            It takes less than 2 minutes to post an ad on Soil.com. You can sign up for a free account and post ads easily every time.

            Soil.com has the widest selection of farmers and agricultural suppliers in Ghana and Africa and also enable individual consumers to shop directly on our local open market for fresh foodstuffs and get it delivered as soon as possible.

            Soil.com specialize in two specific models – thus the farmers model and open market model, here you can buy and sell items of all agricultural produce and inputs. We also carefully review all ads that are being published, to make sure the quality is up to our standards.

        </p>
    </div>
    <div>
        <h1  style="color:red">Contact us</h1>
        <address>
            Adom avenue,Westlands
            West Legon,Accra
            Ghana

        </address>
    </div>
    <div>
        <h1 style="color:red">Telephone</h1>
        <p>
            Tel: 055-5554-576
                 055-2282-389
        </p>
    </div>
</div>
